* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.titlebar {
    background-color: coral;
    text-align: left;
    padding: 15pt
}

/* Style the top navigation bar */
.topnav {
    overflow: visible;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    color: black;
    padding: 10px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

.dropdown {
    display: none;
    color: #f2f2f2;
    background-color: #333 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    background-color: #ddd;
    color: black;
}

.dropdown a {
    display: none;
    position: absolute;
    background-color: #333;
    color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover a {
    display: block;
}